.individual-card{
    padding: 20 px;
}

.all-color{
    background-color: red;
}

.all-cards{
    margin-left: 26%;
}

.deckstats{
    margin-right: 75%;
}

.center{
    text-align: center;
    float: center;
}

.right-align{
    margin-left: 26%;
}

.mana-badge{
    backgroundColor:aquamarine;
}