.individual-card{
    padding: 20 px;
}

.all-color{
    background-color: red;
}

.all-cards{
    margin-left: 26%;
}

.deckstats{
    margin-right: 90%;
}

.mana-badge{
    backgroundColor:aquamarine;
}